// Sticky Footer
@mixin sticky-footer($height: size(footer, height), $wrapperSelector: '#page', $footerSelector: 'body>footer')
{
    #{$wrapperSelector}
    {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin-bottom: -$height;

        .stick
        {
            display: block;
            height: $height;
        }
    }

    #{$footerSelector}
    {
        height: $height;
    }
}

// The Form Placeholders
@mixin form-placeholders($properties)
{
    @at-root
    {
        ::-webkit-input-placeholder
        {
            @each $properyName, $propertyValue in $properties
            {
                #{$properyName}: #{$propertyValue}
            }
        }

        ::-moz-placeholder
        {
            @each $properyName, $propertyValue in $properties
            {
                #{$properyName}: #{$propertyValue}
            }
        }

        :-ms-input-placeholder
        {
            @each $properyName, $propertyValue in $properties
            {
                #{$properyName}: #{$propertyValue}
            }
        }

        :-moz-placeholder
        {
            @each $properyName, $propertyValue in $properties
            {
                #{$properyName}: #{$propertyValue}
            }
        }
    }
}